python-dotenv
pypdf2
pytesseract
PyMuPDF
pdf2image
langchain
openai
faiss-cpu
pypdf
tiktoken
streamlit
databutton
pysqlite3-binary
poppler-utils
reportlab
langchain-community
langchain_openai
langchain_core
pdfminer.six
tabula
